RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ ./index.php [L,QSA]
# Stackoverflow: https://stackoverflow.com/questions/3173271/mod-rewrite-rewritecond-and-query-string
# RewriteRule . ./index.php [L]
